body {
  background-color: rgb(85, 24, 24);
}

.d-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;

}
.myimg {
  display: block;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  align-content: center;
  border-radius: 20%;
}
.btn {
  width: 50%;
  padding: 20px 0px 20px 0px;
  margin: -5px;
  font-size: large;
  background-color: darkgray;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 5px;
  
}
.sbtn {
  margin: 0px 10px 0px 10px;
  width: 5%;
  background-color: yellow;
  color: black;
}
h2, h4 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 15px;
  color: whitesmoke;
  font-size: medium;
}
